<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>

</head>
<body>
    <div id="dc0d2955db59454fbed74b01b7a8f63b" class="chart-container" style="width:900px; height:500px;"></div>
    <script>
        var chart_dc0d2955db59454fbed74b01b7a8f63b = echarts.init(
            document.getElementById('dc0d2955db59454fbed74b01b7a8f63b'), 'white', {renderer: 'canvas'});
        var option_dc0d2955db59454fbed74b01b7a8f63b = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "line",
            "name": "\u5f53\u65e5\u6b7b\u4ea1\u7387",
            "connectNulls": false,
            "symbolSize": 4,
            "showSymbol": true,
            "smooth": false,
            "clip": true,
            "step": false,
            "data": [
                [
                    "03.17",
                    6.2
                ],
                [
                    "03.18",
                    6.4
                ],
                [
                    "03.19",
                    7.0
                ],
                [
                    "03.20",
                    7.2
                ],
                [
                    "03.21",
                    6.3
                ],
                [
                    "03.22",
                    6.4
                ],
                [
                    "03.23",
                    6.4
                ],
                [
                    "03.24",
                    6.3
                ],
                [
                    "03.25",
                    9.2
                ],
                [
                    "03.26",
                    6.6
                ],
                [
                    "03.27",
                    7.0
                ],
                [
                    "03.28",
                    8.3
                ],
                [
                    "03.29",
                    7.0
                ],
                [
                    "03.30",
                    5.1
                ],
                [
                    "03.31",
                    4.6
                ],
                [
                    "04.01",
                    0.8
                ],
                [
                    "04.02",
                    1.4
                ],
                [
                    "04.03",
                    5.1
                ],
                [
                    "04.04",
                    4.6
                ],
                [
                    "04.05",
                    3.8
                ],
                [
                    "04.06",
                    5.3
                ],
                [
                    "04.07",
                    3.1
                ],
                [
                    "04.09",
                    3.1
                ],
                [
                    "04.10",
                    3.2
                ],
                [
                    "04.11",
                    3.1
                ],
                [
                    "04.12",
                    3.8
                ],
                [
                    "04.13",
                    1.5
                ],
                [
                    "04.14",
                    1.2
                ],
                [
                    "04.15",
                    1.2
                ],
                [
                    "04.16",
                    0.8
                ],
                [
                    "04.17",
                    0.7
                ],
                [
                    "04.18",
                    0.5
                ],
                [
                    "04.19",
                    0.6
                ],
                [
                    "04.20",
                    0.3
                ],
                [
                    "04.21",
                    0.7
                ],
                [
                    "04.22",
                    0.4
                ],
                [
                    "04.23",
                    0.2
                ],
                [
                    "04.24",
                    0.7
                ],
                [
                    "04.25",
                    1.0
                ],
                [
                    "04.26",
                    0.7
                ],
                [
                    "04.27",
                    0.5
                ],
                [
                    "04.28",
                    0.4
                ],
                [
                    "04.29",
                    0.3
                ],
                [
                    "04.30",
                    0.3
                ],
                [
                    "05.01",
                    0.3
                ],
                [
                    "05.02",
                    0.2
                ],
                [
                    "05.03",
                    0.1
                ],
                [
                    "05.04",
                    0.1
                ],
                [
                    "05.05",
                    0.1
                ],
                [
                    "05.06",
                    0.1
                ],
                [
                    "05.07",
                    0.0
                ],
                [
                    "05.08",
                    0.1
                ],
                [
                    "05.09",
                    0.0
                ],
                [
                    "05.10",
                    0.0
                ],
                [
                    "05.11",
                    0.0
                ],
                [
                    "05.12",
                    0.0
                ],
                [
                    "05.13",
                    0.0
                ],
                [
                    "05.14",
                    0.1
                ],
                [
                    "05.15",
                    0.0
                ],
                [
                    "05.16",
                    0.0
                ]
            ],
            "hoverAnimation": true,
            "label": {
                "show": false,
                "position": "top",
                "margin": 8
            },
            "lineStyle": {
                "show": true,
                "width": 1,
                "opacity": 1,
                "curveness": 0,
                "type": "solid"
            },
            "areaStyle": {
                "opacity": 0
            },
            "zlevel": 0,
            "z": 0
        },
        {
            "type": "line",
            "name": "\u5f53\u65e5\u6cbb\u6108\u7387",
            "connectNulls": false,
            "symbolSize": 4,
            "showSymbol": true,
            "smooth": false,
            "clip": true,
            "step": false,
            "data": [
                [
                    "03.17",
                    31.1
                ],
                [
                    "03.18",
                    40.5
                ],
                [
                    "03.19",
                    42.8
                ],
                [
                    "03.20",
                    42.9
                ],
                [
                    "03.21",
                    27.5
                ],
                [
                    "03.22",
                    50.8
                ],
                [
                    "03.23",
                    73.4
                ],
                [
                    "03.24",
                    65.9
                ],
                [
                    "03.25",
                    110.4
                ],
                [
                    "03.26",
                    115.3
                ],
                [
                    "03.27",
                    89.0
                ],
                [
                    "03.28",
                    78.7
                ],
                [
                    "03.29",
                    119.1
                ],
                [
                    "03.30",
                    107.7
                ],
                [
                    "03.31",
                    97.8
                ],
                [
                    "04.01",
                    40.5
                ],
                [
                    "04.02",
                    45.6
                ],
                [
                    "04.03",
                    125.7
                ],
                [
                    "04.04",
                    116.7
                ],
                [
                    "04.05",
                    148.3
                ],
                [
                    "04.06",
                    115.4
                ],
                [
                    "04.07",
                    108.5
                ],
                [
                    "04.09",
                    170.4
                ],
                [
                    "04.10",
                    112.3
                ],
                [
                    "04.11",
                    121.8
                ],
                [
                    "04.12",
                    113.8
                ],
                [
                    "04.13",
                    89.0
                ],
                [
                    "04.14",
                    64.6
                ],
                [
                    "04.15",
                    83.1
                ],
                [
                    "04.16",
                    48.7
                ],
                [
                    "04.17",
                    53.1
                ],
                [
                    "04.18",
                    44.7
                ],
                [
                    "04.19",
                    64.6
                ],
                [
                    "04.20",
                    54.4
                ],
                [
                    "04.21",
                    45.0
                ],
                [
                    "04.22",
                    48.0
                ],
                [
                    "04.23",
                    12.5
                ],
                [
                    "04.24",
                    35.3
                ],
                [
                    "04.25",
                    32.9
                ],
                [
                    "04.26",
                    0.0
                ],
                [
                    "04.27",
                    27.8
                ],
                [
                    "04.28",
                    17.4
                ],
                [
                    "04.29",
                    26.3
                ],
                [
                    "04.30",
                    22.5
                ],
                [
                    "05.01",
                    27.0
                ],
                [
                    "05.02",
                    24.2
                ],
                [
                    "05.03",
                    9.2
                ],
                [
                    "05.04",
                    7.9
                ],
                [
                    "05.05",
                    5.7
                ],
                [
                    "05.06",
                    5.7
                ],
                [
                    "05.07",
                    2.7
                ],
                [
                    "05.08",
                    2.3
                ],
                [
                    "05.09",
                    2.6
                ],
                [
                    "05.10",
                    1.8
                ],
                [
                    "05.11",
                    1.2
                ],
                [
                    "05.12",
                    0.9
                ],
                [
                    "05.13",
                    1.3
                ],
                [
                    "05.14",
                    0.8
                ],
                [
                    "05.15",
                    1.0
                ],
                [
                    "05.16",
                    0.8
                ]
            ],
            "hoverAnimation": true,
            "label": {
                "show": false,
                "position": "top",
                "margin": 8
            },
            "lineStyle": {
                "show": true,
                "width": 1,
                "opacity": 1,
                "curveness": 0,
                "type": "solid"
            },
            "areaStyle": {
                "opacity": 0
            },
            "zlevel": 0,
            "z": 0
        }
    ],
    "legend": [
        {
            "data": [
                "\u5f53\u65e5\u6b7b\u4ea1\u7387",
                "\u5f53\u65e5\u6cbb\u6108\u7387"
            ],
            "selected": {
                "\u5f53\u65e5\u6b7b\u4ea1\u7387": true,
                "\u5f53\u65e5\u6cbb\u6108\u7387": true
            },
            "show": true,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "axis",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "showContent": true,
        "alwaysShowContent": false,
        "showDelay": 0,
        "hideDelay": 100,
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0,
        "padding": 5
    },
    "xAxis": [
        {
            "type": "category",
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "boundaryGap": false,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            },
            "data": [
                "03.17",
                "03.18",
                "03.19",
                "03.20",
                "03.21",
                "03.22",
                "03.23",
                "03.24",
                "03.25",
                "03.26",
                "03.27",
                "03.28",
                "03.29",
                "03.30",
                "03.31",
                "04.01",
                "04.02",
                "04.03",
                "04.04",
                "04.05",
                "04.06",
                "04.07",
                "04.09",
                "04.10",
                "04.11",
                "04.12",
                "04.13",
                "04.14",
                "04.15",
                "04.16",
                "04.17",
                "04.18",
                "04.19",
                "04.20",
                "04.21",
                "04.22",
                "04.23",
                "04.24",
                "04.25",
                "04.26",
                "04.27",
                "04.28",
                "04.29",
                "04.30",
                "05.01",
                "05.02",
                "05.03",
                "05.04",
                "05.05",
                "05.06",
                "05.07",
                "05.08",
                "05.09",
                "05.10",
                "05.11",
                "05.12",
                "05.13",
                "05.14",
                "05.15",
                "05.16"
            ]
        }
    ],
    "yAxis": [
        {
            "type": "value",
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "axisTick": {
                "show": true,
                "alignWithLabel": false,
                "inside": false
            },
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": true,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            }
        }
    ],
    "title": [
        {
            "text": "\u5f53\u65e5\u6b7b\u4ea1/\u6cbb\u6108\u7387\u6298\u7ebf\u56fe",
            "padding": 5,
            "itemGap": 10
        }
    ]
};
        chart_dc0d2955db59454fbed74b01b7a8f63b.setOption(option_dc0d2955db59454fbed74b01b7a8f63b);
    </script>
</body>
</html>
