<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>

</head>
<body>
    <div id="1830ae84cecc46d1b828604b06404077" class="chart-container" style="width:900px; height:500px;"></div>
    <script>
        var chart_1830ae84cecc46d1b828604b06404077 = echarts.init(
            document.getElementById('1830ae84cecc46d1b828604b06404077'), 'white', {renderer: 'canvas'});
        var option_1830ae84cecc46d1b828604b06404077 = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "line",
            "name": "\u73b0\u5b58\u786e\u8bca",
            "connectNulls": false,
            "symbolSize": 4,
            "showSymbol": true,
            "smooth": false,
            "clip": true,
            "step": false,
            "data": [
                [
                    "03.18",
                    261879
                ],
                [
                    "03.19",
                    263660
                ],
                [
                    "03.20",
                    265370
                ],
                [
                    "03.21",
                    267730
                ],
                [
                    "03.22",
                    269360
                ],
                [
                    "03.23",
                    270011
                ],
                [
                    "03.24",
                    270903
                ],
                [
                    "03.25",
                    270494
                ],
                [
                    "03.26",
                    270030
                ],
                [
                    "03.27",
                    270118
                ],
                [
                    "03.28",
                    270382
                ],
                [
                    "03.29",
                    269816
                ],
                [
                    "03.30",
                    269475
                ],
                [
                    "03.31",
                    269413
                ],
                [
                    "04.01",
                    277800
                ],
                [
                    "04.02",
                    282348
                ],
                [
                    "04.03",
                    281681
                ],
                [
                    "04.04",
                    281264
                ],
                [
                    "04.05",
                    280083
                ],
                [
                    "04.06",
                    279649
                ],
                [
                    "04.07",
                    279290
                ],
                [
                    "04.08",
                    277812
                ],
                [
                    "04.09",
                    276307
                ],
                [
                    "04.10",
                    275995
                ],
                [
                    "04.11",
                    275972
                ],
                [
                    "04.12",
                    275055
                ],
                [
                    "04.13",
                    275434
                ],
                [
                    "04.14",
                    276990
                ],
                [
                    "04.15",
                    277854
                ],
                [
                    "04.16",
                    280340
                ],
                [
                    "04.17",
                    282329
                ],
                [
                    "04.18",
                    285168
                ],
                [
                    "04.19",
                    286762
                ],
                [
                    "04.20",
                    289302
                ],
                [
                    "04.21",
                    292187
                ],
                [
                    "04.22",
                    295819
                ],
                [
                    "04.23",
                    316181
                ],
                [
                    "04.24",
                    321889
                ],
                [
                    "04.25",
                    326693
                ],
                [
                    "04.26",
                    341476
                ],
                [
                    "04.27",
                    349045
                ],
                [
                    "04.28",
                    364189
                ],
                [
                    "04.29",
                    374701
                ],
                [
                    "04.30",
                    387136
                ],
                [
                    "05.01",
                    400434
                ],
                [
                    "05.02",
                    414177
                ],
                [
                    "05.03",
                    435585
                ],
                [
                    "05.04",
                    462228
                ],
                [
                    "05.05",
                    490934
                ],
                [
                    "05.06",
                    525420
                ],
                [
                    "05.07",
                    570919
                ],
                [
                    "05.08",
                    612674
                ],
                [
                    "05.09",
                    652222
                ],
                [
                    "05.10",
                    702497
                ],
                [
                    "05.11",
                    759215
                ],
                [
                    "05.12",
                    824244
                ],
                [
                    "05.13",
                    888555
                ],
                [
                    "05.14",
                    952224
                ],
                [
                    "05.15",
                    1020408
                ],
                [
                    "05.16",
                    1081796
                ]
            ],
            "hoverAnimation": true,
            "label": {
                "show": false,
                "position": "top",
                "margin": 8
            },
            "lineStyle": {
                "show": true,
                "width": 1,
                "opacity": 1,
                "curveness": 0,
                "type": "solid"
            },
            "areaStyle": {
                "opacity": 0
            },
            "zlevel": 0,
            "z": 0
        },
        {
            "type": "line",
            "name": "\u672c\u571f\u73b0\u5b58\u786e\u8bca",
            "connectNulls": false,
            "symbolSize": 4,
            "showSymbol": true,
            "smooth": false,
            "clip": true,
            "step": false,
            "data": [
                [
                    "03.18",
                    16530
                ],
                [
                    "03.19",
                    18016
                ],
                [
                    "03.20",
                    19617
                ],
                [
                    "03.21",
                    21507
                ],
                [
                    "03.22",
                    23659
                ],
                [
                    "03.23",
                    24953
                ],
                [
                    "03.24",
                    25710
                ],
                [
                    "03.25",
                    26218
                ],
                [
                    "03.26",
                    26571
                ],
                [
                    "03.27",
                    26831
                ],
                [
                    "03.28",
                    27021
                ],
                [
                    "03.29",
                    27372
                ],
                [
                    "03.30",
                    27843
                ],
                [
                    "03.31",
                    29306
                ],
                [
                    "04.01",
                    26467
                ],
                [
                    "04.02",
                    25514
                ],
                [
                    "04.03",
                    25105
                ],
                [
                    "04.04",
                    24469
                ],
                [
                    "04.05",
                    24024
                ],
                [
                    "04.06",
                    23626
                ],
                [
                    "04.07",
                    13353
                ],
                [
                    "04.08",
                    22744
                ],
                [
                    "04.09",
                    22589
                ],
                [
                    "04.10",
                    22025
                ],
                [
                    "04.11",
                    21991
                ],
                [
                    "04.12",
                    21512
                ],
                [
                    "04.13",
                    22514
                ],
                [
                    "04.14",
                    24595
                ],
                [
                    "04.15",
                    25697
                ],
                [
                    "04.16",
                    27629
                ],
                [
                    "04.17",
                    28730
                ],
                [
                    "04.18",
                    30134
                ],
                [
                    "04.19",
                    30537
                ],
                [
                    "04.20",
                    31188
                ],
                [
                    "04.21",
                    30595
                ],
                [
                    "04.22",
                    30444
                ],
                [
                    "04.23",
                    30444
                ],
                [
                    "04.24",
                    30444
                ],
                [
                    "04.25",
                    28523
                ],
                [
                    "04.26",
                    26579
                ],
                [
                    "04.27",
                    25323
                ],
                [
                    "04.28",
                    28135
                ],
                [
                    "04.29",
                    26403
                ],
                [
                    "04.30",
                    23846
                ],
                [
                    "05.01",
                    24692
                ],
                [
                    "05.02",
                    16098
                ],
                [
                    "05.03",
                    14360
                ],
                [
                    "05.04",
                    12590
                ],
                [
                    "05.05",
                    11515
                ],
                [
                    "05.06",
                    9812
                ],
                [
                    "05.07",
                    9021
                ],
                [
                    "05.08",
                    8578
                ],
                [
                    "05.09",
                    7914
                ],
                [
                    "05.10",
                    7403
                ],
                [
                    "05.11",
                    7058
                ],
                [
                    "05.12",
                    6760
                ],
                [
                    "05.13",
                    6155
                ],
                [
                    "05.14",
                    5945
                ],
                [
                    "05.15",
                    5466
                ],
                [
                    "05.16",
                    5359
                ]
            ],
            "hoverAnimation": true,
            "label": {
                "show": false,
                "position": "top",
                "margin": 8
            },
            "lineStyle": {
                "show": true,
                "width": 1,
                "opacity": 1,
                "curveness": 0,
                "type": "solid"
            },
            "areaStyle": {
                "opacity": 0
            },
            "zlevel": 0,
            "z": 0
        },
        {
            "type": "line",
            "name": "\u603b\u6b7b\u4ea1",
            "connectNulls": false,
            "symbolSize": 4,
            "showSymbol": true,
            "smooth": false,
            "clip": true,
            "step": false,
            "data": [
                [
                    "03.18",
                    10892
                ],
                [
                    "03.19",
                    11141
                ],
                [
                    "03.20",
                    11387
                ],
                [
                    "03.21",
                    11610
                ],
                [
                    "03.22",
                    11855
                ],
                [
                    "03.23",
                    12060
                ],
                [
                    "03.24",
                    12261
                ],
                [
                    "03.25",
                    12453
                ],
                [
                    "03.26",
                    12592
                ],
                [
                    "03.27",
                    12743
                ],
                [
                    "03.28",
                    12911
                ],
                [
                    "03.29",
                    13062
                ],
                [
                    "03.30",
                    13197
                ],
                [
                    "03.31",
                    13316
                ],
                [
                    "04.01",
                    13436
                ],
                [
                    "04.02",
                    13552
                ],
                [
                    "04.03",
                    13663
                ],
                [
                    "04.04",
                    13753
                ],
                [
                    "04.05",
                    13840
                ],
                [
                    "04.06",
                    13951
                ],
                [
                    "04.07",
                    14048
                ],
                [
                    "04.08",
                    14134
                ],
                [
                    "04.09",
                    14197
                ],
                [
                    "04.10",
                    14262
                ],
                [
                    "04.11",
                    14319
                ],
                [
                    "04.12",
                    14378
                ],
                [
                    "04.13",
                    14440
                ],
                [
                    "04.14",
                    14494
                ],
                [
                    "04.15",
                    14561
                ],
                [
                    "04.16",
                    14602
                ],
                [
                    "04.17",
                    14634
                ],
                [
                    "04.18",
                    14661
                ],
                [
                    "04.19",
                    14687
                ],
                [
                    "04.20",
                    14705
                ],
                [
                    "04.21",
                    14742
                ],
                [
                    "04.22",
                    14769
                ],
                [
                    "04.23",
                    14817
                ],
                [
                    "04.24",
                    14881
                ],
                [
                    "04.25",
                    14951
                ],
                [
                    "04.26",
                    15006
                ],
                [
                    "04.27",
                    15063
                ],
                [
                    "04.28",
                    15122
                ],
                [
                    "04.29",
                    15182
                ],
                [
                    "04.30",
                    15233
                ],
                [
                    "05.01",
                    15265
                ],
                [
                    "05.02",
                    15301
                ],
                [
                    "05.03",
                    15329
                ],
                [
                    "05.04",
                    15350
                ],
                [
                    "05.05",
                    15372
                ],
                [
                    "05.06",
                    15406
                ],
                [
                    "05.07",
                    15425
                ],
                [
                    "05.08",
                    15450
                ],
                [
                    "05.09",
                    15469
                ],
                [
                    "05.10",
                    15493
                ],
                [
                    "05.11",
                    15509
                ],
                [
                    "05.12",
                    15529
                ],
                [
                    "05.13",
                    15574
                ],
                [
                    "05.14",
                    15618
                ],
                [
                    "05.15",
                    15642
                ],
                [
                    "05.16",
                    15672
                ]
            ],
            "hoverAnimation": true,
            "label": {
                "show": false,
                "position": "top",
                "margin": 8
            },
            "lineStyle": {
                "show": true,
                "width": 1,
                "opacity": 1,
                "curveness": 0,
                "type": "solid"
            },
            "areaStyle": {
                "opacity": 0
            },
            "zlevel": 0,
            "z": 0
        },
        {
            "type": "line",
            "name": "\u603b\u6cbb\u6108",
            "connectNulls": false,
            "symbolSize": 4,
            "showSymbol": true,
            "smooth": false,
            "clip": true,
            "step": false,
            "data": [
                [
                    "03.18",
                    151526
                ],
                [
                    "03.19",
                    153047
                ],
                [
                    "03.20",
                    154514
                ],
                [
                    "03.21",
                    155494
                ],
                [
                    "03.22",
                    157432
                ],
                [
                    "03.23",
                    159794
                ],
                [
                    "03.24",
                    161905
                ],
                [
                    "03.25",
                    164215
                ],
                [
                    "03.26",
                    166661
                ],
                [
                    "03.27",
                    168586
                ],
                [
                    "03.28",
                    170177
                ],
                [
                    "03.29",
                    172755
                ],
                [
                    "03.30",
                    175627
                ],
                [
                    "03.31",
                    178163
                ],
                [
                    "04.01",
                    183944
                ],
                [
                    "04.02",
                    187850
                ],
                [
                    "04.03",
                    190569
                ],
                [
                    "04.04",
                    192850
                ],
                [
                    "04.05",
                    196207
                ],
                [
                    "04.06",
                    198627
                ],
                [
                    "04.07",
                    201985
                ],
                [
                    "04.08",
                    205491
                ],
                [
                    "04.09",
                    208982
                ],
                [
                    "04.10",
                    211238
                ],
                [
                    "04.11",
                    213274
                ],
                [
                    "04.12",
                    216382
                ],
                [
                    "04.13",
                    219950
                ],
                [
                    "04.14",
                    222887
                ],
                [
                    "04.15",
                    227416
                ],
                [
                    "04.16",
                    229824
                ],
                [
                    "04.17",
                    232108
                ],
                [
                    "04.18",
                    234428
                ],
                [
                    "04.19",
                    237390
                ],
                [
                    "04.20",
                    240448
                ],
                [
                    "04.21",
                    242835
                ],
                [
                    "04.22",
                    246206
                ],
                [
                    "04.23",
                    249110
                ],
                [
                    "04.24",
                    252261
                ],
                [
                    "04.25",
                    254646
                ],
                [
                    "04.26",
                    248059
                ],
                [
                    "04.27",
                    250994
                ],
                [
                    "04.28",
                    253948
                ],
                [
                    "04.29",
                    257218
                ],
                [
                    "04.30",
                    260853
                ],
                [
                    "05.01",
                    265672
                ],
                [
                    "05.02",
                    270021
                ],
                [
                    "05.03",
                    272188
                ],
                [
                    "05.04",
                    274475
                ],
                [
                    "05.05",
                    276220
                ],
                [
                    "05.06",
                    278302
                ],
                [
                    "05.07",
                    279577
                ],
                [
                    "05.08",
                    280543
                ],
                [
                    "05.09",
                    281598
                ],
                [
                    "05.10",
                    282497
                ],
                [
                    "05.11",
                    283191
                ],
                [
                    "05.12",
                    283936
                ],
                [
                    "05.13",
                    284897
                ],
                [
                    "05.14",
                    285435
                ],
                [
                    "05.15",
                    286143
                ],
                [
                    "05.16",
                    286658
                ]
            ],
            "hoverAnimation": true,
            "label": {
                "show": false,
                "position": "top",
                "margin": 8
            },
            "lineStyle": {
                "show": true,
                "width": 1,
                "opacity": 1,
                "curveness": 0,
                "type": "solid"
            },
            "areaStyle": {
                "opacity": 0
            },
            "zlevel": 0,
            "z": 0
        }
    ],
    "legend": [
        {
            "data": [
                "\u73b0\u5b58\u786e\u8bca",
                "\u672c\u571f\u73b0\u5b58\u786e\u8bca",
                "\u603b\u6b7b\u4ea1",
                "\u603b\u6cbb\u6108"
            ],
            "selected": {
                "\u73b0\u5b58\u786e\u8bca": true,
                "\u672c\u571f\u73b0\u5b58\u786e\u8bca": true,
                "\u603b\u6b7b\u4ea1": true,
                "\u603b\u6cbb\u6108": true
            },
            "show": true,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "axis",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "showContent": true,
        "alwaysShowContent": false,
        "showDelay": 0,
        "hideDelay": 100,
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0,
        "padding": 5
    },
    "xAxis": [
        {
            "type": "category",
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "boundaryGap": false,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            },
            "data": [
                "03.18",
                "03.19",
                "03.20",
                "03.21",
                "03.22",
                "03.23",
                "03.24",
                "03.25",
                "03.26",
                "03.27",
                "03.28",
                "03.29",
                "03.30",
                "03.31",
                "04.01",
                "04.02",
                "04.03",
                "04.04",
                "04.05",
                "04.06",
                "04.07",
                "04.08",
                "04.09",
                "04.10",
                "04.11",
                "04.12",
                "04.13",
                "04.14",
                "04.15",
                "04.16",
                "04.17",
                "04.18",
                "04.19",
                "04.20",
                "04.21",
                "04.22",
                "04.23",
                "04.24",
                "04.25",
                "04.26",
                "04.27",
                "04.28",
                "04.29",
                "04.30",
                "05.01",
                "05.02",
                "05.03",
                "05.04",
                "05.05",
                "05.06",
                "05.07",
                "05.08",
                "05.09",
                "05.10",
                "05.11",
                "05.12",
                "05.13",
                "05.14",
                "05.15",
                "05.16"
            ]
        }
    ],
    "yAxis": [
        {
            "type": "value",
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "axisTick": {
                "show": true,
                "alignWithLabel": false,
                "inside": false
            },
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": true,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            }
        }
    ],
    "title": [
        {
            "text": "\u6298\u7ebf\u56fe\u5806\u53e0",
            "padding": 5,
            "itemGap": 10
        }
    ]
};
        chart_1830ae84cecc46d1b828604b06404077.setOption(option_1830ae84cecc46d1b828604b06404077);
    </script>
</body>
</html>
