<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>
        <script type="text/javascript" src="https://assets.pyecharts.org/assets/themes/macarons.js"></script>

</head>
<body>
    <div id="c098e70f784f46a4899d0f20469bc3fb" class="chart-container" style="width:900px; height:500px;"></div>
    <script>
        var chart_c098e70f784f46a4899d0f20469bc3fb = echarts.init(
            document.getElementById('c098e70f784f46a4899d0f20469bc3fb'), 'macarons', {renderer: 'canvas'});
        var option_c098e70f784f46a4899d0f20469bc3fb = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "series": [
        {
            "type": "bar",
            "name": "\u73b0\u5b58\u786e\u8bca",
            "legendHoverLink": true,
            "data": [
                1320,
                1136,
                1109,
                998,
                932,
                745,
                661,
                653,
                604,
                556
            ],
            "showBackground": false,
            "barMinHeight": 0,
            "barCategoryGap": "20%",
            "barGap": "30%",
            "large": false,
            "largeThreshold": 400,
            "seriesLayoutBy": "column",
            "datasetIndex": 0,
            "clip": true,
            "zlevel": 0,
            "z": 2,
            "label": {
                "show": true,
                "position": "top",
                "margin": 8
            }
        }
    ],
    "legend": [
        {
            "data": [
                "\u73b0\u5b58\u786e\u8bca"
            ],
            "selected": {
                "\u73b0\u5b58\u786e\u8bca": true
            },
            "show": true,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "showContent": true,
        "alwaysShowContent": false,
        "showDelay": 0,
        "hideDelay": 100,
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0,
        "padding": 5
    },
    "xAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            },
            "data": [
                "\u4e0a\u6d77-\u9ec4\u6d66",
                "\u4e0a\u6d77-\u5f90\u6c47",
                "\u4e0a\u6d77-\u6d66\u4e1c",
                "\u4e0a\u6d77-\u8679\u53e3",
                "\u4e0a\u6d77-\u6768\u6d66",
                "\u4e0a\u6d77-\u9759\u5b89",
                "\u4e0a\u6d77-\u95f5\u884c",
                "\u5409\u6797-\u957f\u6625",
                "\u5e7f\u4e1c-\u6df1\u5733",
                "\u4e0a\u6d77-\u5b9d\u5c71"
            ]
        }
    ],
    "yAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            }
        }
    ],
    "title": {
        "text": "\u73b0\u5b58\u786e\u8bcaTop10\u57ce\u5e02\uff08\u533a\uff09"
    }
};
        chart_c098e70f784f46a4899d0f20469bc3fb.setOption(option_c098e70f784f46a4899d0f20469bc3fb);
    </script>
</body>
</html>
