<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>
        <script type="text/javascript" src="https://assets.pyecharts.org/assets/themes/macarons.js"></script>

</head>
<body>
    <div id="b081580701cf42b28af75c542ea71fb4" class="chart-container" style="width:900px; height:500px;"></div>
    <script>
        var chart_b081580701cf42b28af75c542ea71fb4 = echarts.init(
            document.getElementById('b081580701cf42b28af75c542ea71fb4'), 'macarons', {renderer: 'canvas'});
        var option_b081580701cf42b28af75c542ea71fb4 = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "series": [
        {
            "type": "bar",
            "name": "\u7d2f\u8ba1\u786e\u8bca",
            "legendHoverLink": true,
            "data": [
                50423,
                25057,
                14899,
                14095,
                4886,
                4264,
                3481,
                2913,
                2713,
                2414
            ],
            "showBackground": false,
            "barMinHeight": 0,
            "barCategoryGap": "20%",
            "barGap": "30%",
            "large": false,
            "largeThreshold": 400,
            "seriesLayoutBy": "column",
            "datasetIndex": 0,
            "clip": true,
            "zlevel": 0,
            "z": 2,
            "label": {
                "show": true,
                "position": "top",
                "margin": 8
            }
        }
    ],
    "legend": [
        {
            "data": [
                "\u7d2f\u8ba1\u786e\u8bca"
            ],
            "selected": {
                "\u7d2f\u8ba1\u786e\u8bca": true
            },
            "show": true,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "showContent": true,
        "alwaysShowContent": false,
        "showDelay": 0,
        "hideDelay": 100,
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0,
        "padding": 5
    },
    "xAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            },
            "data": [
                "\u6e56\u5317-\u6b66\u6c49",
                "\u5409\u6797-\u957f\u6625",
                "\u4e0a\u6d77-\u6d66\u4e1c",
                "\u5409\u6797-\u5409\u6797",
                "\u4e0a\u6d77-\u95f5\u884c",
                "\u4e0a\u6d77-\u9ec4\u6d66",
                "\u4e0a\u6d77-\u5f90\u6c47",
                "\u6e56\u5317-\u9ec4\u5188",
                "\u4e0a\u6d77-\u8679\u53e3",
                "\u4e0a\u6d77-\u677e\u6c5f"
            ]
        }
    ],
    "yAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            }
        }
    ],
    "title": {
        "text": "\u7d2f\u8ba1\u786e\u8bcaTop10\u57ce\u5e02\uff08\u533a\uff09"
    }
};
        chart_b081580701cf42b28af75c542ea71fb4.setOption(option_b081580701cf42b28af75c542ea71fb4);
    </script>
</body>
</html>
