<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>
        <script type="text/javascript" src="https://assets.pyecharts.org/assets/themes/macarons.js"></script>

</head>
<body>
    <div id="f4806eb45482402885d3e9a4327da8e7" class="chart-container" style="width:900px; height:500px;"></div>
    <script>
        var chart_f4806eb45482402885d3e9a4327da8e7 = echarts.init(
            document.getElementById('f4806eb45482402885d3e9a4327da8e7'), 'macarons', {renderer: 'canvas'});
        var option_f4806eb45482402885d3e9a4327da8e7 = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "series": [
        {
            "type": "bar",
            "name": "\u65b0\u589e\u786e\u8bca",
            "legendHoverLink": true,
            "data": [
                17,
                15,
                14,
                10,
                10,
                10,
                9,
                9,
                8,
                7
            ],
            "showBackground": false,
            "barMinHeight": 0,
            "barCategoryGap": "20%",
            "barGap": "30%",
            "large": false,
            "largeThreshold": 400,
            "seriesLayoutBy": "column",
            "datasetIndex": 0,
            "clip": true,
            "zlevel": 0,
            "z": 2,
            "label": {
                "show": true,
                "position": "top",
                "margin": 8
            }
        }
    ],
    "legend": [
        {
            "data": [
                "\u65b0\u589e\u786e\u8bca"
            ],
            "selected": {
                "\u65b0\u589e\u786e\u8bca": true
            },
            "show": true,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "showContent": true,
        "alwaysShowContent": false,
        "showDelay": 0,
        "hideDelay": 100,
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0,
        "padding": 5
    },
    "xAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            },
            "data": [
                "\u4e0a\u6d77-\u6768\u6d66",
                "\u56db\u5ddd-\u5e7f\u5b89",
                "\u4e0a\u6d77-\u9759\u5b89",
                "\u5317\u4eac-\u623f\u5c71",
                "\u4e0a\u6d77-\u9ec4\u6d66",
                "\u5317\u4eac-\u4e30\u53f0",
                "\u4e0a\u6d77-\u5609\u5b9a",
                "\u4e0a\u6d77-\u95f5\u884c",
                "\u6cb3\u5357-\u90d1\u5dde",
                "\u4e0a\u6d77-\u5b9d\u5c71"
            ]
        }
    ],
    "yAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            }
        }
    ],
    "title": {
        "text": "\u65b0\u589e\u786e\u8bcaTop10\u57ce\u5e02\uff08\u533a\uff09"
    }
};
        chart_f4806eb45482402885d3e9a4327da8e7.setOption(option_f4806eb45482402885d3e9a4327da8e7);
    </script>
</body>
</html>
