<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>

</head>
<body>
    <div id="ebe6158ed0894eb3a5c3049a8b61d83a" class="chart-container" style="width:900px; height:500px;"></div>
    <script>
        var chart_ebe6158ed0894eb3a5c3049a8b61d83a = echarts.init(
            document.getElementById('ebe6158ed0894eb3a5c3049a8b61d83a'), 'white', {renderer: 'canvas'});
        var option_ebe6158ed0894eb3a5c3049a8b61d83a = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "pie",
            "clockwise": true,
            "data": [
                {
                    "name": "\u4e0a\u6d77",
                    "value": 746
                },
                {
                    "name": "\u56db\u5ddd",
                    "value": 73
                },
                {
                    "name": "\u5929\u6d25",
                    "value": 23
                },
                {
                    "name": "\u6cb3\u5357",
                    "value": 22
                },
                {
                    "name": "\u5317\u4eac",
                    "value": 9
                },
                {
                    "name": "\u5409\u6797",
                    "value": 6
                },
                {
                    "name": "\u9752\u6d77",
                    "value": 3
                },
                {
                    "name": "\u6d59\u6c5f",
                    "value": 2
                },
                {
                    "name": "\u6cb3\u5317",
                    "value": 2
                },
                {
                    "name": "\u5b89\u5fbd",
                    "value": 1
                }
            ],
            "radius": [
                "0%",
                "75%"
            ],
            "center": [
                "50%",
                "50%"
            ],
            "label": {
                "show": true,
                "position": "top",
                "margin": 8
            },
            "rippleEffect": {
                "show": true,
                "brushType": "stroke",
                "scale": 2.5,
                "period": 4
            },
            "abel_opts": {
                "show": true,
                "position": "top",
                "margin": 8,
                "formatter": "{b}: {c}"
            }
        }
    ],
    "legend": [
        {
            "data": [
                "\u4e0a\u6d77",
                "\u56db\u5ddd",
                "\u5929\u6d25",
                "\u6cb3\u5357",
                "\u5317\u4eac",
                "\u5409\u6797",
                "\u9752\u6d77",
                "\u6d59\u6c5f",
                "\u6cb3\u5317",
                "\u5b89\u5fbd"
            ],
            "selected": {},
            "type": "scroll",
            "show": true,
            "left": "90%",
            "orient": "vertical",
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "showContent": true,
        "alwaysShowContent": false,
        "showDelay": 0,
        "hideDelay": 100,
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0,
        "padding": 5
    },
    "title": [
        {
            "text": "\u65b0\u589e\u65e0\u75c7\u72b6Top10\u7701\u4efd",
            "padding": 5,
            "itemGap": 10
        }
    ]
};
        chart_ebe6158ed0894eb3a5c3049a8b61d83a.setOption(option_ebe6158ed0894eb3a5c3049a8b61d83a);
    </script>
</body>
</html>
